// New name for the colour scheme: Squonker's Lemonade

// Squonker's UI Colours.
$sq-cosmic-milkshake: #f9f1dc;
$sq-cherrilicious-chocolate: #743242;
$sq-graphite-gallant: #1e1b22;
$sq-skibbish: #00e235;
$sq-orange-you-glad: #e65d22;
$sq-swan-puddle: #009aff;
$sq-ettu-prupel: #b386ff;
$sq-mister-black-sky: #1f1022;
$sq-auld-strawby-wine: #87126f;
$sq-emperors-washing-powder: #f3b8ff;
$sq-actuators-lunch: #fae458;

$color-base-bg: $sq-graphite-gallant;
$color-base-fg: $sq-cosmic-milkshake;

$color-body-bg-top: $sq-auld-strawby-wine;
$color-body-bg-bottom: darken(saturate($color-body-bg-top, 50%), 15%);

$color-border: $sq-actuators-lunch;

$color-focus-bg: $sq-orange-you-glad;
$color-focus-fg: $color-base-bg;

$color-warning-bg: #fff;
$color-warning-fg: #000;

$color-link: #ac64ea;

$border: .1rem solid $color-border;

$max-width-before-mobile: 800px;

// Fonts
$font-base: 'Roboto', sans-serif;
$font-base-weight: 400;
$font-bold-weight: 700;

$font-display: 'Fredoka One', cursive;
$font-display-weight: 400;