/**
 *
 * This is the 'meet the team' css file.
 *
 **/
@import '_globals.scss';

@keyframes weee {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 300%;
    }
}

.meet {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    .member {
        display: flex;
        flex-direction: row;
        
        width: 90%;
        margin: auto;
        
        height: 15rem;
        gap: 2rem;
        
        position: relative;
        
        .info { flex: 1; }
        .position {
            font-size: 200%;
            margin: 0;
        }
        
        .name {
            font-weight: bold;
            font-size: 300%;
            margin: 0;
        }
        
        img {
            background-image: url('/img/vochosegrass.png');
            background-size: auto 300%;

            height: 100%;
            max-height: 50vh;
            aspect-ratio: 1;

            border: $border;

            animation: weee 25s linear infinite;
            
            transition-duration: .25s;
            border-radius: 25%;
            &:hover {
                border-radius: 15%;
                object-fit: 150%;
            }
        }
        
        .colour {
            display: inline-block;
            
            vertical-align: middle;
            
            position: absolute;
            right: 0;
            
            width: 2.5em;
            height: 2.5em;
            
            aspect-ratio: 1;

            border-radius: 100%;
            border: $border;
            box-shadow: 0.25rem 0.25rem 0.5rem #000;
            
            transition-duration: .25s;
            &:hover {
                transform: scale(250%);
            }
        }
    }
}

@media only screen and (max-width: $max-width-before-mobile) {
    .meet {
        flex-direction: column;

        .member {
            flex-direction: column;
            width: 100%;
            height: min-content;
            
            img {
                width: 25em;
                margin: auto;
            }
            
            .name { text-align: center; }
        
            ul {
                margin: 0;
                padding-left: 1.5rem;
            }
        }
    }
}