/**
 *
 * This is the game list's CSS file.
 *
 **/
@import '_globals.scss';

.game-container {
    border: $border;
    border-radius: 2rem;

    background-size: cover;
    background-position: 50% 50%;

    margin: 1.2rem 0;

    display: flex;
    align-items: center;
    height: 12rem;
    width: 100%;

    padding: 1rem;
    gap: 1rem;

    box-sizing: border-box;

    .game-logo {
        height: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 0.25rem #fff2);
    }

    .game-info {
        flex: 1 auto;

        display: flex;
        justify-content: center;

        border: $border;
        background-color: #0009;
        text-shadow: 0.1em 0.1em 0 #000;
        padding: 2rem;
        border-radius: 2rem;
        height: 100%;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        gap: .5rem;

        h2,
        p {
            margin: 0;
        }

        h2 {
            font-size: 200%;
        }
    }
}