/**
 *
 * This is the index' CSS file. Defines additional things that only appear on the index.
 *
 **/
@import '_globals.scss';

.screenshot-showcase {

    display: flex;
    justify-content: stretch;

    width: 70%;
    margin: 2rem auto;

    gap: .25rem;

    &.vertical {
        flex-direction: column;
        margin: 0;
    }

    .screenshot-showcase-image {
        flex: 1 1 auto;

        border: 0.25rem solid $color-base-fg;
        box-shadow: 0.25rem 0.5rem .5rem #000;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        position: relative;

        p {
            font-size: 150%;

            margin: 0;
            padding-top: 1rem;
            box-sizing: border-box;

            min-height: 4rem;
            height: auto;
            max-height: 100%;

            overflow: hidden;

            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            background: linear-gradient(to top, #000a, #000a, transparent);

            opacity: 0;
            transition-duration: .2s;
        }

        &:hover {
            p {
                opacity: 1;
            }
        }
    }
}

@media only screen and (max-width: $max-width-before-mobile) {
    .screenshot-showcase {
        flex-direction: column;
        height: unset;

        .vertical {
            width: 100%;
            flex-direction: row;
        }

        .screenshot-showcase-image {
            max-height: 25vh;
        }
    }
}