/*
    Color scheme is very slightly golden yellow.
    Focus color is blue.
*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Round&display=swap');

body {
    background-color: #222222;
    color: #ffffff;

    /* we want a striped background between 222 and 111 */
    background-image: radial-gradient(#222222 0%, #222222 25%, #111111 50%, #222222 100%);
    background-size: 1em 1em;

    /* Disable image interpolation */
    image-rendering: crisp-edges;

    text-align: center;

    overflow: hidden;

    font-family: 'Nova Round', cursive;
}

/* Flickery, like a cheap and old incandesant bulb */
@keyframes textGlow {
    0% {
        text-shadow: 0 0 .1em #ffcc3322;
    }
    12% {
        text-shadow: 0 0 .2em #ffcc3324;
    }
    25% {
        text-shadow: 0 0 .01em #ffcc3333;
    }
    37% {
        text-shadow: 0 0 .3em #ffcc3311;
    }
    50% {
        text-shadow: 0 0 .2em #ffcc3322;
    }
    62% {
        text-shadow: 0 0 .1em #ffcc3324;
    }
    75% {
        text-shadow: 0 0 .01em #ffcc3333;
    }
    87% {
        text-shadow: 0 0 .3em #ffcc3311;
    }
    100% {
        text-shadow: 0 0 .2em #ffcc3344;
    }
}

h1 {
    font-size: 80pt;
    color: #ffcc33;
    /* glow, subtly */
    /* we want a sort-of flickery effect */
    animation: textGlow .5s linear infinite alternate;
    margin: 0;
    margin-top: .2em;
    margin-bottom: .25em;

    line-height: 0.7;
}

h2 {
    /* subtitle */
    font-size: 40pt;
    color: #312ee6;
    text-shadow: 0 0 .25em #000000ff;
    margin: 0;

    transform: translateY(-50%);

    font-family: 'Great Vibes', cursive;
}

#logo {
    filter: drop-shadow(1em 1.33em 1em #0006);

    /* Center the logo against entire page */
    width: 30em;
    max-width: 40%;

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) rotateZ(12deg);

}