/**
 *
 * This is the main CSS file. Has CSS for every page, and does the layouting.
 *
 **/
@import '_globals.scss';

// Load fonts;
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Fredoka+One&display=swap');


html {
    width: 100%;
    height: 100%;
    background: $color-body-bg-bottom;
}

body {
    width: 100%;
    min-height: 100vh;

    // Pretty standard size.
    font-size: 16px;

    font-family: $font-base;
    font-weight: $font-base-weight;

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 0;
    padding: 2rem 5rem;
    box-sizing: border-box; // Band-aid!

    background: linear-gradient(to bottom, $color-body-bg-top 25%, $color-body-bg-bottom 75%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


@media only screen and (max-width: $max-width-before-mobile) {
    body {
        padding: 0;
        font-size: 2.5vw;
    }
}

header,
main,
footer {
    background-color: $color-base-bg;
    color: $color-base-fg;
    border: $border;

    padding: .75rem;
}

hr {
    border: $border;
    width: 85%;
}

footer {
    text-align: center;
    font-size: 150%;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;

    min-height: 4.5rem;
    padding: .5rem .75rem;

    font-size: 225%;
    font-family: $font-display;
    font-weight: $font-display-weight;

    h1 {
        margin: 0;
    }

    img {
        height: 100%;
        filter: drop-shadow(0.1em 0.1em #000);
        transition: transform 0.25s, filter 0.25s;

        &:hover {
            transform: scale(1.25) rotateZ(15deg);
            filter: drop-shadow(0.15em 0.0em #000);
        }
    }
}

main {
    flex: 1 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    .content {
        flex: 1 auto;
        width: 100%;
    }
}

nav {
    width: 95%;

    border: $border;
    border-top: none;
    margin-top: -.75rem; // Glue ourselves to the top

    height: 2rem;

    box-shadow: 0 .25rem .25rem #0007;

    ul {
        list-style: none;
        display: flex;
        justify-content: stretch;
        align-items: center;

        margin: 0;
        padding: 0;

        height: 100%;

        li {
            flex: 1 auto;

            &,
            a {
                width: 100%;
                height: 100%;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                color: inherit;
                text-decoration: inherit;

                font-size: 150%;
                font-weight: $font-bold-weight;
            }

            background: linear-gradient(to bottom, $color-base-bg 5%, lighten($color-base-bg, 5%));

            &.active,
            &:hover {
                background: $color-focus-bg;
                color: $color-focus-fg;
            }

            border-right: $border;

            &:last-child {
                border-right: none;
            }
        }
    }
}

::selection,
::-moz-selection {
    background-color: $color-focus-bg;
    color: $color-focus-fg;
}

h1 { font-size: 200%; }
h2 { font-size: 175%; }
h3 { font-size: 150%; }