@import 'globals.scss';

html {
	font-family: Ubuntu, Oswald, sans-serif;
	font-size: 13.5pt;
}

// Links are the 'focus' color of green
a {
	color: darken($sq-skibbish, 10%);
	text-decoration: none;
	font-weight: 700;

	&[href='#'] {
		color: lighten($sq-cherrilicious-chocolate, 10%);
	}
}

// We want headers to inherit the font-weight
h1, h2, h3 {
	font-weight: inherit;
}

body {
	margin: 0;
	padding: 0;

	background: $sq-cosmic-milkshake;
	color: $sq-graphite-gallant;

	min-height: 100vh;
}

header {
	// Backgrond is handled as a seperate element so we can have the same width as the main content.
	&::before {
		background: linear-gradient(to bottom, transparent 66.66%, $sq-skibbish),
		            repeating-linear-gradient(45deg,
		            	$sq-graphite-gallant,
		            	$sq-graphite-gallant 0.25em,
		            	darken($sq-graphite-gallant, 25%) 0.25em,
		            	darken($sq-graphite-gallant, 25%) 0.5em);

		content: ' ';
		left: 0;
		top: 0;
		height: 7.5rem;
		width: 100%;
		position: absolute;
		z-index: -1;
	}

	// A wee seperator to make the transition from the header less harsh.
	&::after {
		content: ' ';
		height: 1rem;
		width: 100%;
		background: linear-gradient(to bottom,
			$sq-graphite-gallant,
			lighten($sq-graphite-gallant, 25%) 25%,
			$sq-graphite-gallant);

		box-shadow: 0 0 .25rem black;
		position: absolute;
		left: 0;
		top: 7.5em;
	}

	color: $sq-cosmic-milkshake;
	height: 7.5rem;

	display: flex;
	align-items: center;
	gap: 1.3rem;

	width: 90%;
	max-width: 64rem;

	margin: 0 auto;

	a {
		color: inherit;
		text-decoration: none;
		display: flex;
		flex-direction: column;

		text-shadow: 0.125em 0.125em 0.1em black;

		h1, h2 {
			margin: 0;
		}

		h1 {
			font-size: 400%;
		}
		h2 {
			font-size: 100%;
		}
	}

	img {
		height: 6.5rem;
		width: 6.5rem;
	}
}

h1 { margin: 0; }

.mainnav {
	margin: 1rem auto;
	padding-top: 1rem;

	max-width: 64rem;
	width: 90%;

	height: 100%;

	display: flex;
	gap: 1.5rem;

	nav {
		border-radius: 2rem;
		border: 2px solid $sq-graphite-gallant;
		box-shadow: 0 0 .55rem #0404;
		padding: .5rem;

		width: 12rem;
		height: min-content;
		min-height: 15rem;
		flex-shrink: 0;

		box-sizing: border-box;

		h2 {
			margin: 0;
			font-size: 100%;
			border-bottom: 1px solid $sq-graphite-gallant;
			padding-left: 1.25rem;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

main {
	h1, h2, h3 {
		border-bottom: 1px solid $sq-graphite-gallant;
		padding-bottom: .25em;
	}

	height: 100%;
}

figure {
	width: 20rem;
	border: 2px solid $sq-graphite-gallant;
	background: darken($sq-cosmic-milkshake, 15%);
	text-align: center;
	float: right;
	clear: right;

	img {
		width: 100%;
		border-bottom: 2px solid $sq-graphite-gallant;
	}
}

table {
	border-collapse: collapse;

	thead {
		background: darken($sq-cosmic-milkshake, 15%);
	}
}

td, th {
	border: 2px solid #000;
	padding: .25rem;
}