$border: .1rem solid #2d2d2d;
$bright-border: .1rem solid #a3b4bc;

$layout-bg: #2a3748;
$layout-fg: #fff;

body {
	margin: 0;
	padding: 0;

	width: 100vw;
	min-height: 100vh;

	background: linear-gradient(to bottom, #2a3748, #2f4668), #2f4668;
	background-size: 100% 25vh;
	background-repeat: no-repeat;

	padding: 0 10vw;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;

	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header {
	background: linear-gradient(to right, transparent 50%, $layout-bg), linear-gradient(to bottom, #516888 0%, #1f304a 60%, #11233b 60%, #11233b 70%, #3d5271 100%), ;
	border: $border;

	height: 7em;

	display: flex;
	align-items: center;
	padding-left: 1.5rem;
}

.main-container {
	flex: 1 auto;
	display: flex;
}

main {
	flex: 1 auto;

	background: #fff;

	#tab-index {
		background: linear-gradient(to bottom, #fa06, transparent);
		background-repeat: no-repeat;
		background-size: 100% 4rem;
	}

	.tab {
		padding: 1rem 2rem;
		display: none;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		&.shown {
			display: flex;
			flex-direction: column;
		}
	}

	color: #000;
	border: $border;

	h1 {
		font-size: 150%;
		margin: 0;
	}
}

nav {
	background: linear-gradient(to left, #0005, transparent), linear-gradient(to bottom, #516888, transparent), $layout-bg;
	background-repeat: no-repeat;
	background-size: 1rem 100%, 100% 33em;
	background-position: 100% 0, 0 2rem;

	flex-shrink: 0;

	border: $border;
	color: $layout-fg;
	width: 10rem;

	h2 {
		font-size: 110%;
		margin: 0;
		text-transform: capitalize;
		border-bottom: $bright-border;

		display: flex;
		justify-content: center;
		align-items: center;

		background: linear-gradient(to bottom right, #b5c7e4, #516888);

		text-shadow: 0 0.1em 0.2em #000;

		height: 2rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0.5rem 0.75rem;

		font-weight: bold;

		li::before {
			content: '\00bb';
			color: #fa0;
			margin-right: .25rem;
			font-size: 125%;
			vertical-align: middle;
		}

		li a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

a {
	color: #336699;
	font-weight: bold;
}

#tab-content {
	img {
		max-width: 35vw;
		width: 100%;
		margin: auto;
	}
}

#comments {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	background-color: #f0f0f0;
	border: .1rem #a0a0a0 dashed;
	flex: 1 auto;

	min-height: 5rem;
	padding: .25rem;

	margin: 1rem 0;

	list-style: none;

	.comment {
		display: flex;
		gap: .25rem;

		img {
			// avatar.
			width: 5rem;
			height: 5rem;

			image-rendering: crisp-edges;
			image-rendering: pixelated;

			border: .1rem #a0a0a0 solid;
			background: #fff;
		}

		div {
			display: flex;
			flex-direction: column;
			padding: .25rem;

			border: .1rem #a0a0a0 solid;
			background: #fff;

			width: 100%;

			p {
				margin: 0;
			}
		}
	}
}

.replies {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;

	.comment {
		background-color: #f0f0f0;
		border: .1rem #a0a0a0 solid;

		display: flex;
		flex-direction: column;
		gap: .25rem;

		min-height: 5rem;
		padding: .25rem;

		margin: 0 0 0 1rem;
	}
}


#featured-list {
	list-style: none;
	display: flex;
	flex-direction: column;

	margin: 0;
	padding: 0;

	gap: 1rem;

	.media-item {
		img {
			width: 5rem;
			height: 5rem;

			border: $border;
			object-fit: cover;
			object-position: center center;
		}

		display: flex;
		gap: .25rem;

		.info {
			display: flex;
			flex-direction: column;

			.time {
				font-size: 75%;
				color: $layout-bg;
			}
		}
	}
}

.search {
	height: 2rem;
	background-color: $layout-bg;
	border: $border;

	display: flex;
	justify-content: right;
	align-items: center;

	gap: .25rem;

	span {
		color: #fa0;
		font-weight: bold;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;

	border: $border;
	background-color: $layout-bg;
	color: $layout-fg;
	height: 5rem;
}