$border: .2rem red solid;

html {
	font-family: 'Times New Roman', Times, serif;
	font-size: 15pt;
}

@keyframes windy {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 960px 0;
	}
}

body {
	margin: 0;

	color: #fff;
	background: linear-gradient(to bottom, rgb(17, 26, 69), rgb(1, 1, 15)) 100%;

	min-height: 100vh;

	&::before,
	&::after {
		content: ' ';
		height: 30vh;

		left: 0;
		right: 0;
		top: 0;

		background-image: url('/squonker-wb/sqeepasta/clouds.png');
		background-size: auto 100%;
		animation: windy 20s linear infinite alternate;

		position: absolute;
		z-index: -1;

		filter: drop-shadow(0 5vh 1rem #001a);
	}

	&::after {
		top: 5vh;
		height: 40vh;
		z-index: -2;
		animation: windy 60s linear infinite alternate;
		filter: brightness(50%);
	}

	display: flex;
	flex-direction: column;

	padding: 2rem 12vw;
	gap: 1rem;
}

/* Box Effects */
header,
nav,
main {
	background-color: #000;
	background-image: url('/squonker-wb/sqeepasta/slate.jpg');
	border: $border;
}

h1,
h2 {
	margin: 0;
}

p {
	margin: .5rem 0;
}

header {
	padding: 1rem 2rem;

	h1 {
		height: 7rem;
	}

	img {
		height: 125%;
	}

	box-shadow: .35rem .25rem 1rem #000a;
}

.mainnav {
	flex: 1;
	display: flex;
	gap: 1rem;
}

main {
	padding: 1rem 2rem;
	flex: 1;

	box-shadow: .35rem .25rem 1rem #000a;
}

nav {
	padding: 1rem;
	width: 20%;

	box-shadow: .35rem .25rem 1rem #000a;
}

h3 {
	margin: 0;
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}

hr {
	border: .1rem solid red;
	width: 75%;
	margin: 2rem auto;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin-top: 1rem;
}

.comment {
	border: $border;
	padding: 0 2rem;

	position: relative;

	&::after {
		content: ' ';
		position: absolute;

		left: 0;
		right: 0;
		bottom: -1rem;

		height: 1rem;
		background-size: auto 100%;

		image-rendering: crisp-edges;
		image-rendering: pixelated;

		background-image: url('/squonker-wb/sqeepasta/bloodrow.gif');
	}
}

a {
	color: red;
}

blockquote {
	border-left: $border;
	margin-left: 2rem;
	padding-left: .5rem;
	white-space: pre-wrap;
}

article {
	hyphens: auto;
}