// Colours
$color-bg-main: #c95c5c;

$color-border-bright: #ffc0c0;
$color-border-light: #e78585;
$color-border-dark: #b4493b;

$color-bg-alt: $color-border-bright;
$color-bg-text: #fff;

$color-border: $color-border-light $color-border-dark $color-border-dark $color-border-light;
$color-border-indent: $color-border-dark $color-border-bright $color-border-bright $color-border-dark;

// Boilerplate
html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body {
	image-rendering: pixelated;
	/* grrr chrome */
	image-rendering: crisp-edges;

	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;

	// On desktop devices, be reasonable.
	font-size: 16pt;
	font-family: 'Roboto', 'Noto Sans', sans-serif;
}

// Elements that should have a 'protuding' box.
header,
nav,
footer {
	border: .25rem solid;
	border-color: $color-border;
	background-color: $color-bg-main;
	height: 2rem;

	padding: .25rem;
	gap: .25rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

// Anything that has an icon.
.icon {
	display: inline-block;
	vertical-align: middle;
	height: 2rem;
	width: 2rem;

	background-repeat: no-repeat;
	background-size: 100%;
}

main {
	background-color: $color-bg-alt;
	flex: 1 auto;

	position: relative;
	overflow: hidden;
}

// This is the styling for the main character list.
#character-list {
	display: grid;
	list-style: none;

	margin: 0;
	padding: 0;

	grid-template-columns: repeat(auto-fill, minmax(22.5%, 1fr));
	gap: 2rem;

	flex: 1 auto;

	li a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		/* remove link styling */
		color: inherit;
		text-decoration: inherit;

		gap: 0.25rem;

		p {
			margin: 0;
			padding: 0;
		}

		img {
			width: 100%;
			aspect-ratio: 1;

			object-fit: contain;

			filter: drop-shadow(0.25rem 0.25rem 0.5rem #0007);

			transition: transform 0.5s,
				filter 0.55s;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		&:hover img {
			transform: scale(125%);
			filter: drop-shadow(0.25rem 0.25rem 0.75rem #0004);

			transition: transform .1s, filter .15s;
			transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
		}
	}
}

// This is the input where you can put your search query.
#search-query {
	border: .25rem solid;
	border-color: $color-border-indent;
	background-color: $color-bg-text;

	flex: 1 auto;
	height: 100%;

	display: block;
	box-sizing: border-box;

	font-size: 100%;
}

#search-button {
	border: .25rem solid;
	border-color: $color-border;
	background-color: $color-bg-main;

	background-image: url('/img/icons/search.svg');
	background-repeat: no-repeat;
	background-size: 100%;

	&:active {
		border-color: $color-border-indent;
	}

	// WARN: This is not standard yet.
	aspect-ratio: 1;
	height: 100%;
}

.tab {
	visibility: hidden;
	display: flex;
	flex-direction: column;

	padding: 2rem 25%;
	margin: 0 auto;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow-y: scroll;
	overflow-x: hidden;

	box-sizing: border-box;

	opacity: 0;

	&.shown {
		visibility: visible;

		opacity: 1;
		transition: opacity .25s;
		transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
}

#character-info {
	img {
		width: 100%;
		max-height: 50vh;

		object-fit: contain;

		padding: 2rem;
		box-sizing: border-box; // magic band-aid
	}

	display: inline-flex;
	flex-direction: column;

	p {
		hyphens: auto;
	}

	p:nth-child(2) {
		// name
		font-size: 300%;
		width: 100%;

		padding: 0;
		margin: 0;
		text-align: center;
	}

	table {
		min-width: 50%;
		max-width: 90%;
		flex: 1 auto;
		margin: auto;
		box-sizing: border-box;

		&,
		th,
		td {
			border-collapse: collapse;
			text-align: left;
			padding: .5rem;
		}
	}
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	gap: 1rem;

	width: 100%;
	height: 100%;

	li {
		flex: 1;
		height: 100%;

		a {
			height: 100%;
			width: 100%;

			user-select: none;

			box-sizing: border-box;

			border: .25rem solid;
			border-color: $color-border;
			background-color: $color-bg-main;

			color: inherit;
			text-decoration: inherit;

			display: flex;
			align-items: center;
			justify-content: center;

			&.active {
				border-color: $color-border-indent;
			}
		}
	}
}

// Hidden from users, but still acessable by screenreaders.
.sr-only {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	user-select: none; // to stop visual users from being able to copy it.
}

/*
 m    m  mmmm  mmmmm  mmmmm  m      mmmmmm
 ##  ## m"  "m #    #   #    #      #
 # ## # #    # #mmmm"   #    #      #mmmmm
 # "" # #    # #    #   #    #      #
 #    #  #mm#  #mmmm" mm#mm  #mmmmm #mmmmm
*/
@media screen and (orientation: portrait) {
	body.mobile {
		font-size: 5vw;

		.tab {
			padding: 2rem;
		}

		#character-info p:nth-child(2) {
			font-size: 150%;
		}
	}
}

@media screen and (orientation: landscape) {
	body.mobile {
		font-size: 5vh;

		.tab {
			padding: 2rem;
		}

		#character-info p:nth-child(2) {
			font-size: 150%;
		}
	}
}