$base: #323;
$text: #ddd;
$focus: #e1c05d;

$BCE: adjust-hue($focus, 90deg);
$CE: adjust-hue($focus, -90deg);

html {
	font-family: Ubuntu, Roboto, sans-serif;
	font-size: 20pt;
}

body {
	display: flex;
	flex-direction: column;

	align-items: center;

	background-color: $base;
	color: $text;
}

h1,
p {
	margin: 0;
}

a {
	color: $focus;

	transition: color .25s;

	&:hover {
		color: lighten($focus, 25%);
	}
}

.info {
	max-width: 90%;
	margin-bottom: 2rem;

	h1 {
		text-align: center;
	}

	p {
		margin: 1.25rem 0;
	}
}

#timeline {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1.25rem;
	flex-direction: column;
	list-style-type: none;

	width: 60%;

	position: relative;

	&::before {
		content: ' ';
		border: .25rem solid $focus;
		display: block;

		position: absolute;
		top: 0;
		bottom: 0;
		left: -0.5rem;

		box-shadow: 0 0 2.5rem rgba($focus, .5);

		border-radius: 5rem;
	}

	li {
		display: flex;
		flex-direction: column;

		margin-left: 1.25rem;
		position: relative;

		text-shadow: .1em .1em #000;

		&::before {
			content: ' ';
			display: block;
			position: absolute;
			border-radius: 100%;
			background: $base;
			border: .25rem solid $focus;
			width: 1.5rem;
			height: 1.5rem;
			left: -2.2625rem; // Magic numbers, Woohoo!

			box-sizing: border-box;

			&.BCE {
				border-color: $BCE;
				box-shadow: 0 0 .5rem $BCE;
			}

			&.CE {
				border-color: $CE;
				box-shadow: 0 0 .5rem $CE;
			}
		}
	}
}

.timeline-time {
	font-style: italic;
	opacity: 0.75;
	font-size: 75%;
}

table {
	border-collapse: collapse;
	margin: auto;
	
	border: .2rem solid $focus;
	
	td, th {
		border: .1rem solid $focus;
		padding: .25rem;
		text-align: right;
	}
}