{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/about.css">{% endblock %}
{% block body %}
<h2>Meet the Team</h2>
<p>Actuating Lemons has a largely flat team structure, every member of the team has a similar level of control over projects. The titles the team hold reflect average duties more than any fixed position.</p>
<div class="meet">
    {% for id, member in bag('team').items() if not member.previous %}
        <div class="member {{ id }}">
            <img src="/img/team/{{ id }}.png">

            <div class="info">
                <p class="name">{{ member.name }} &bull; {{ ' / '.join(member.pronouns) }}</p>
                <p class="position">{{ member.position }}</p>
                <ul class="areas">
                    {% for activity in member.activities %}
                        <li>{{ activity }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="info">
                <h2>Favourite Colour(s):
                {# This is a bit of a mess. But it automatically generates a constant gradient. #}
                <div style="background: conic-gradient({% for i in range(member.colours|length) %}
                    {{ member.colours[i] }}
                    {{ i / member.colours|length * 100 }}%,
                    {{ member.colours[i] }}
                    {{ (i+1) / member.colours|length * 100 }}%{% if i < member.colours|length-1 %},{% endif %}
                {% endfor %})" class="colour"></div>
                </h2>
                <h2>Fun Facts:</h2>
                <ul>
                    {% for fact in member.facts %}
                        <li>{{ fact }}</li>
                    {% endfor %}
            </div>
        </div>
    {% endfor %}

</div>

<h2>Previous Members</h2>
<p>The team has evolved over time, and this section is reserved for previous (and still valued!) members of the team that no longer work with us.</p>
<div class="meet old">
    {% for id, member in bag('team').items() if member.previous %}
        <div class="member {{ id }}">
            <img src="/img/team/{{ id }}.png">

            <div class="info">
                <p class="name">{{ member.name }} &bull; {{ ' / '.join(member.pronouns) }}</p>
                <p class="position">Previous {{ member.position }}</p>
                <ul class="areas">
                    {% for activity in member.activities %}
                        <li>{{ activity }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="info">
                <p>Favourite Colour(s):
                {# This is a bit of a mess. But it automatically generates a constant gradient. #}
                <div style="background: conic-gradient({% for i in range(member.colours|length) %}
                    {{ member.colours[i] }}
                    {{ i / member.colours|length * 100 }}%,
                    {{ member.colours[i] }}
                    {{ (i+1) / member.colours|length * 100 }}%{% if i < member.colours|length-1 %},{% endif %}
                {% endfor %})" class="colour"></div>
                </p>
                <p>Fun Facts:</p>
                <ul>
                    {% for fact in member.facts %}
                        <li>{{ fact }}</li>
                    {% endfor %}
                    <li>Never forgotten!</li>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
