{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/games.css">{% endblock %}
{% block body %}

{% for id, game in bag('games').items() %}
<div class="game-container" style="background-image: url('/img/games/{{ id }}/bannerblur.png')">
    <img src="/img/games/{{ id }}/{{ game.icon }}" alt="{{ game.title }} Logo" class="game-logo">
    <div class="game-info">
        <h2>{{ game.title }}</h2>
        <p>{{ game.description }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}