{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/index.css">{% endblock %}
{% block body %}
<!-- screenshot showcase -->
<!-- One big image, two smaller ones to the left-->
<!-- Captions floating ontop of each image -->
<div class="screenshot-showcase">
    <div class="screenshot-showcase-image">
        <img src="{{this.image1}}" alt="{{ this.image1_title }}">
        <p aria-hidden="true" class="screenshot-showcase-caption">{{this.image1_title}}</p>
    </div>
    <div class="screenshot-showcase vertical">
        <div class="screenshot-showcase-image">
            <img src="{{this.image2}}" alt="{{ this.image2_title }}">
            <p aria-hidden="true" class="screenshot-showcase-caption">{{this.image2_title}}</p>
        </div>
        <div class="screenshot-showcase-image">
            <img src="{{this.image3}}" alt="{{ this.image3_title }}">
            <p aria-hidden="true" class="screenshot-showcase-caption">{{this.image3_title}}</p>
        </div>
    </div>
</div>
<!--
    When we actually have ... well, stuff released, we should probably talk about it below.
    Until then, we just have a tiny carousel of development screenshots.
-->
{% endblock %}