<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- HTML Meta Tags -->
        <title>Actuating Lemons{% if this.title %} | {{ this.title }}{% endif %}</title>
        <meta name="description" content="Actuating Lemons is a tiny indie game development team.">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="http://actuatinglemons.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Actuating Lemons">
        <meta property="og:description" content="Actuating Lemons is a tiny indie game development team.">
        <meta property="og:image" content="http://www.actuatinglemons.com/img/logo.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="actuatinglemons.com">
        <meta property="twitter:url" content="http://actuatinglemons.com/">
        <meta name="twitter:title" content="Actuating Lemons">
        <meta name="twitter:description" content="Actuating Lemons is a tiny indie game development team.">
        <meta name="twitter:image" content="http://www.actuatinglemons.com/img/logo.png">

        {% block css %}
        <link rel="stylesheet" href="/css/main.css">{% endblock %}
        {% block extracss %}{% endblock %} {# Just while Lektor doesn't have default field values #}
    </head>

    <body>
        <header>
            <img src="/img/logo.png" alt="" id="logo">
            <h1>Actuating Lemons</h1>
        </header>
        <main>
            <nav class="navigation">
                <ul>
                    <li{% if this._path=='/' %} class="active" {% endif %}><a href="{{ '/'|url }}" {% if this._path=='/' %}
                            class="active" {% endif %}>Home</a></li>
                        {% for href, title in [
                            ['/games', 'Games'],
                            ['_', 'Blog'],
                            ['_', 'Contact'],
                            ['_', 'Documentation'],
                            ['/about', 'About'],
                            ] %}
                            {% if href == '_' %}
                                <!-- Skip {{ title }}-->
                            {% else %}
                            <li{% if this.is_child_of(href) %} class="active" {% endif %}><a href="{{ href|url }}" {% if
                                    this.is_child_of(href) %} class="active" {% endif %}>{{ title
                                    }}</a></li>
                            {% endif %}
                        {% endfor %}
                    <!-- Gitlab link is seperate -->
                    <li><a href="https://gitlab.com/actuating-lemons/">GitLab</a></li>
                </ul>
            </nav>

            <!-- TODO: Hamburger Nav -->

            <section class="content">
                {% block body %}{% endblock %}
            </section>
        </main>
        <footer>
            <p>&copy; Copyright 2023 Baob Koiss, Actuating Lemons.</p>
        </footer>
    </body>
</html>