<!doctype html>
<html lang="en">
<head>
	<!-- HTML Meta Tags -->
	<title>SKEP{% if this.title %} -- {{ this.title }}{% endif %}</title>
	<meta name="description" content="Squonker Worldbuilding - SKEP!">

	<link rel="stylesheet" href="/css/skep.css">
</head>

<body>
	<header>
		<img src="/squonker-wb/skep/logo.svg">
		<a href="/squonker-wb/skep/">
			<h1>SKEP</h1>
			<h2>Skonkland Extranormal Patrol</h2>
		</a>
	</header>
	<div class="mainnav">
		<nav>
			<h2>Navigation</h2>
			<ul>
				<li><a href="/squonker-wb/skep/">Home</a></li>
				<li><a href="/squonker-wb/skep/glossary/">Terminology</a></li>
			</ul>
			<h2>Database</h2>
			<ul>
				<li><a href="/squonker-wb/skep/class-1/">Series I</a></li>
			</ul>
		</nav>

		<main>{% block body %}{% endblock %}</main>
	</div>
</body>
</html>