{% extends "sqeepasta_layout.html" %}

{% block body %}
	{% for child in this.pagination.items %}

		<article>
			<h2><a href="{{ child|url }}">{{ child.title }}</a></h2>
			<h3>by {{ child.author }}, {{ child.date }}</h3>

			{# When rendering from here, we want only so much of the content to be readable. #}
			<div>
				<p>{{ child.body.source | replace('*', '') | truncate(100) }}</p>
			</div>
		</article>

	{% if not loop.last %}
		<hr class="blog-seperator"></hr>
	{% endif %}
	{% endfor %}
{% endblock %}