<!doctype html>
<html lang="en">
<head>
	<!-- HTML Meta Tags -->
	<title>Sqeepasta{% if this.title %} | {{ this.title }}{% endif %}</title>
	<meta name="description" content="Squonker Worldbuilding - Sqeepasta!">

	<link rel="stylesheet" href="/css/sqeepasta.css">
</head>

<body>
	<header>
		<h1><a href="/squonker-wb/sqeepasta/"><img src="/squonker-wb/sqeepasta/logo.png"></a></h1>
	</header>
	<div class="mainnav">
		<main>
			{% block body %}{% endblock %}
		</main>
		<nav>
			<h2>Navigation</h2>
			<p><a href="/squonker-wb/sqeepasta/">Home</a></p>
			<h2>Pastarchive</h2>
			{% set sqeeproot = site.get('/squonker-wb/sqeepasta/') %}
			<ul>
				{% for page in sqeeproot.children %}
					<li><a href="{{ page|url }}">{{ page.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</body>
</html>