{% extends "sqeepasta_layout.html" %}

{% block body %}
	{% set words_per_minute = 200 %}
	{% set word_count = this.body.source.split() | count %}
	{% set reading_time_minutes = word_count / words_per_minute %}

	<article>
		<h2>{{ this.title }}</h2>
		<h3>{{ this.date }} - {{ this.author }} | {{ reading_time_minutes | round|int }} minute read</h3>
		{{ this.body }}
	</article>

	<hr>
	<h2>Comments</h2>
	<div class="comments">
		{% for comment in this.comments.blocks %}
			<div class="comment">
				<p>{{ comment.author }} | {{ comment.date }}</p>
				<p>{{ comment.text }}</p>
			</div>
		{% endfor %}
	</div>
{% endblock %}